* {
    padding: 0;
    margin: 0;
}
html {
    background-color: lightgray;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: blue;
}
header h2 {
    color: red;
}
nav {
    margin: 8px;
}